---
layout: default
---
<h1>Andrew Jordan</h1>
<p>
Welcome! This mostly going to be about my cooking adventures, but there might be some hockey or cybersecurity stuff in there too. I hope you find something interesting here, and feel free to reach out if you want to chat about anything! 
</p>
<div class="grid">
  {% for post in site.posts %}
    {% if post.images %}
      <div class="post-card">
        <a href="{{ post.url | relative_url }}">
          <img src="{{ post.images[0] | relative_url }}" alt="{{ post.title }}">
        </a>
        <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
      </div>
    {% else %}
      <div class="post-card">
        <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
        <p>{{ post.excerpt }}</p>
      </div>
    {% endif %}
  {% endfor %}
</div>