<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>
<body style="font-family: sans-serif; max-width: 900px; margin: auto; padding: 20px;">
  <nav style="display: flex; justify-content: space-between; margin-bottom: 20px;">
    <strong><a href="{{ "/" | relative_url }}">Home</a></strong>
    <div>
      <a href="{{ "/about.html" | relative_url }}" style="margin-right: 15px;">About Me</a>
      <a href="{{ "/contact.html" | relative_url }}">Contact</a>
    </div>
  </nav>
  {{ content }}
  <footer>
    <p>&copy; 2026 Andrew Jordan. All rights are innocent untill proven guilty in a court of public opinion.</p>
  </footer>
</body>
</html>